// out: style.css, sourcemap: false, compress: false

///////////////
//Variable
@lightRed:   #fdd;
@lightGreen: #dfd;
@lightBlue: #ddf;

@defaultThemeColor:@lightGreen;

@calendarWidth: 45*7px;

///////////////
//Mixins
.boxed{
  text-align: center;
  width: @calendarWidth/7;
  height: @calendarWidth/7;
  display: inline-block;
  //border-style: solid;
}

///////////////
//Main CSS
.calendar{
  background-color:@defaultThemeColor;
  width: @calendarWidth;

  .calendarHeader{
    display: block;
    position: relative;
    text-align: center;

    .monthName{
      font-family: sans-serif;
    }
  }

  .calendarTable{
    .dayNames{

      .day{
        border: 1px solid black;
      }
    }

    .dateRow{

      .date{
        border: 1px solid black;
      }
    }
  }


}
