// out: style.css, sourcemap: false, compress: false

@import "bootstrap/less/bootstrap.less";

///////////////
//Variable
@lightRed:   #fdd;
@lightGreen: #dfd;
@lightBlue: #ddf;
@defaultThemeColor:@lightGreen;

///////////////
//Mixins


///////////////
//Main CSS
.calendar {
  text-align: center;
  width: 490px;
  margin: 0 auto;
  .calendarHeader{
    background-color: @lightBlue;
    .arrowLeft{
      float: left;
      text-align: left;
    }
    .monthName{
      clear: left;
    }
    .arrowRight{
      float: right;
      text-align: right;
    }
  }
  .calendarTable{
    margin: 0 auto;
    thead{
      tr{
        th{
          text-align: center;
          width: 70px;
        }
      }
    }
    tbody{
      tr{
        td{
          text-align: center;
          width: 70px;
        }
      }
    }
    .dateRow{
      .date{
        &:hover{
          background-color: #eee;
        }
      }
      .selectedDate{
        background-color: #ddd;
      }
    }
  }
}
