.boxed {
  text-align: center;
  width: 45px;
  height: 45px;
  display: inline-block;
}
.calendar {
  background-color: #dfd;
  width: 315px;
}
.calendar .calendarHeader {
  display: block;
  position: relative;
  text-align: center;
}
.calendar .calendarHeader .monthName {
  font-family: sans-serif;
}
.calendar .calendarTable .dayNames .day {
  border: 1px solid black;
}
.calendar .calendarTable .dateRow .date {
  border: 1px solid black;
}
