.calendar {
  background-color: #dfd;
  display: inline-block;
}
.calendar .calendarHeader {
  display: block
    position: relative;
  text-align: center;
}
.calendar .calendarHeader .monthName {
  font-family: sans-serif;
}
.calendar .weekNames {
  display: inline-block;
}
.calendar .weekNames .day {
  display: inline;
  padding: 3%;
}
