extends ./layout.jade

block content
  div.container.wrap.text-xs-center.p-t-3
    p
      h1 Error 404: Page Not Found
    p @#{username} account does not exist
    p You might have entered the wrong username
