extends ./layout.jade

block content
  //error
  div#error.container.wrap.text-xs-center
    p
      h1 Error 404: Page Not Found
    p @#{username} account does not exist
    p You might have entered the wrong username
    a.btn.btn-primary.btn-lg.m-t-3(href="/" type="button") Return Home
  ///error
