<div ng-controller="PostController" class="text-xs-center wrap">
  <div class="post-div">
    <div class="image-div" style="background-color: black">
      <img class="image-img" ng-src="{{post.img}}">
    </div>
    <div class="desc-div" style="border: 1px solid black">
      <div class="post-info text-xs-left p-b-1 p-t-1">
        <img class="post-avatar" ng-src="{{post.user.avatar}}">
        <span class="p-l-1">{{post.user.username}}</span>
      </div>
      <div class="likes">
        <span>{{post.likes.length}} likes</span>
      </div>
      <div class="comments">
        <span ng-hide="post.desc === undefined">
          <a ng-href="/{{post.user.username}}">{{post.user.username}}</a>
          {{post.desc}}
        </span>
        <ul>
          <li></li>
        </ul>
      </div>

      <div class="comment-add">
        <a href><img class="love" src="/static/img/love-white.png"></a>
        <form style="display: inline-block; width: 200px">
          <input type="text" class="form-control" style="font-size: 15px" id="description" ng-model="desc" placeholder="Add comment..">
        </form>

        <div class="dropdown" style="display: inline">
          <a id="dMenu" data-toggle="dropdown" href="#" data-target="#" aria-haspopup="true" aria-expanded="false">
            <img class="delete dropdown-toggle" src="/static/img/dots.png">
          </a>

          <div class="dropdown-menu" aria-labelledby="dMenu">
            <a class="dropdown-item" href="#">Delete Post</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="static/scripts/adjustPost.js"></script>
