<div ng-controller="PostController" class="text-xs-center wrap p-t-2">
  <div class="p-t-2 post-div">
    <div class="image-div" style="background-color: black">
      <img class="image-img" ng-src="{{post.img}}">
    </div>
    <div class="desc-div" style="border: 1px solid black">
      <img class="post-avatar m-t-1" ng-src="{{post.user.avatar}}">
      <span class="p-l-1">{{post.user.username}}</span>
      <p class="p-t-1">{{post.desc}}</p>
    </div>
  </div>
</div>

<script src="static/scripts/adjustPost.js"></script>
