.navbar {
  border-radius: 0 !important;
}

.index {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: url("index-background.jpg");
  background-size: 100% 100%;
  color: white;
}

.index div {
  align-items: stretch;
  overflow: hidden;
  padding-top: 10rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.wrap {
  min-height: calc(100vh - 80px);
}
