//navbar
nav.navbar.navbar-fixed.navbar-dark.bg-danger
  div.container
    a.navbar-brand(href="/") PIXY
    form.form-inline.pull-xs-right(method="get" action="/")
      input.form-control(type="text" name="username" placeholder="Username...")
      button.btn.btn-success(type="submit") Search
///navbar
