/***********************************
 Navbar
***********************************/

.navbar {
  border-radius: 0 !important;
}

/***********************************
 Profile photo preview
***********************************/
#previewDiv {
  margin: auto;
  width: 350px;
  height: 350px;
  border: 2px solid black
}

#previewPhoto {
  width: 350px;
  height: 347px;
  object-fit: cover;
  object-position: 50% 50%;
}

/***********************************
 User's pictures
***********************************/
.profpic {
  object-fit: cover;
  object-position: 50% 50%;
}

/***********************************
 Error page
***********************************/

#error {
  padding-top: 10rem;
}

/***********************************
 Home page
***********************************/

.index {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-image: url("../img/index-background.jpg");
  background-size: 100% 100%;
  color: white;
}

.index div {
  align-items: stretch;
  overflow: hidden;
  padding-top: 10rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/***********************************
 Sticky footer
***********************************/
.wrap {
  min-height: calc(100vh - 85px);
}
