/***********************************
 Navbar
***********************************/

.navbar {
  border-radius: 0 !important;
}

.navbar-brand {
  padding-right: 30%;
}

/***********************************
 Account
***********************************/
#avatarPreview {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

/***********************************
 Profile photo preview
***********************************/
#previewDiv {
  margin: auto;
  width: 350px;
  height: 350px;
  border: 2px solid black
}

#previewPhoto {
  width: 350px;
  height: 347px;
  object-fit: cover;
  object-position: 50% 50%;
}

/***********************************
 User's pictures
***********************************/
.profpic {
  object-fit: cover;
  object-position: 50% 50%;
}

.plus-photo div {
  background-color: #FBFBFB;
}

.plus-photo:hover div {
  background-color: #EEE;
}

/***********************************
 Error page
***********************************/

#error {
  padding-top: 10rem;
}

/***********************************
 Sticky footer
***********************************/
.wrap {
  min-height: calc(100vh - 105px);
}
